body {
  margin: 0;
  display: grid;
  grid-template-columns: 0.1fr repeat(2, 1.2fr) 0.1fr;
  gap: 1rem;
}

/* Header */
header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 9vh;
  margin: 0;
  grid-row: 1;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 5rem;
  align-items: center;
  z-index: 1;
}

.header-image {
  grid-row: 1;
  grid-column: 1;
  margin-left: 2rem;
}

header a {
  grid-row: 1;
  grid-column: 2;
  margin-left: 10px;
}

nav {
  grid-row: 1;
  grid-column: 4;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  margin: 10px;
}

/* Content */
.content {
  grid-row: 2;
  grid-column: 2 / 4;
  align-items: start;
  min-height: 68.9vh;
}

.article-image {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-fit: cover;
}

/* Footer */
footer {
  grid-column: 1 / 5;
  grid-row: 3;
  display: grid;
  grid-template-columns: minmax(1px, 0.5fr) repeat(3, 1.2fr) minmax(1px, 0.5fr);
  height: auto;
}

.footer-grid-container {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 1rem;
  padding-bottom: 1rem;
}

.footer-flex-container {
  grid-column: 1 / 6;
  grid-row: 2;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-flex-container * {
  padding: 0.25rem 0 0.25rem 0;
}

@media screen and (max-width: 480px) {
  body {
    gap: 0;
  }

  /* Header */
  .header-image {
    grid-column: 1;
    grid-row: 1;
  }

  header a {
    grid-column: 2;
  }

  nav {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-item {
    margin: 10px;
  }

  /* Content */
  .content {
    grid-row: 2;
    grid-column: 1 / 5;
    margin: 0.5rem;
    grid-auto-rows: auto;
  }

  /* Footer */
  .footer-grid-container {
    grid-column: 1 / 6;
    grid-template-columns: auto;
    margin: 0 0.5rem 0 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Footer */
  body {
    grid-template-columns: 1px repeat(2, 1.2fr) 1px;
  }

  .footer-grid-container {
    grid-template-columns: auto auto;
  }
}
