@import "common.layouts.css";
@import "common.utils.css";
@import "scrollbar.css";

/* Content */
.article-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: start;
  gap: 1rem;
}

.article-image {
  height: 150px;
}

@media screen and (max-width: 480px) {
  /* Content */
  .article-grid-container {
    grid-template-columns: auto;
    gap: 0.5rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Content */
  .article-grid-container {
    grid-template-columns: auto auto;
  }
}
