@import "common.layouts.css";
@import "common.utils.css";
@import "scrollbar.css";

body {
  align-items: start;
}

/* Content */
.social-share-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
  background-color: #414648;
  align-items: start;
}

.social-share-icon-container img {
  max-width: 2rem;
  padding: 0.5rem;
}

.social-share-grid-container img:hover {
  opacity: 0.7;
}

.content {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  grid-template-rows: 2vh auto;
  gap: 1rem;
}

.breadcrumbs {
  grid-column: 1 / 3;
  grid-row: 1;
  height: 1rem;
}

.other-posts-container article {
  padding: 0 1rem 1rem 1rem;
}

.other-posts-container h2 {
  padding: 1rem;
  margin-bottom: 0;
  min-width: max-content;
}

.other-posts-container article h2 {
  padding: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-size: small;
  padding-bottom: 1rem;
}

aside {
  grid-column: 2;
  grid-row: 2;
  position: sticky;
  top: 10.5vh;
  width: minmax(max-content, 1fr);
}

aside .social-share-grid-container h2 {
  padding: 1rem;
  margin: 0;
  min-width: max-content;
  grid-row: 1;
}

.social-share-icon-container {
  grid-row: 2;
  display: grid;
  justify-items: center;
}

.social-share-icon-container a {
  grid-row: 1;
  padding: 0.6rem;
}

blockquote {
  margin: 1rem 0;
  padding: 0.5rem;
  background-color: #414648;
  border-radius: 5px;
}

.tags {
  padding-top: 1rem;
}

.tag-button {
  border-radius: 10px;
  border: 0.5px solid goldenrod;
  background-color: rgba(0, 0, 0, 0);
  color: goldenrod;
}

.tag-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  /* Content */
  .content {
    display: grid;
    grid-template-columns: auto;
    gap: 0.5rem 0;
  }

  aside {
    grid-column: 1;
    grid-row: 3;
    position: none;
    top: none;
    width: auto;
  }

  aside .social-share-grid-container h2 {
    display: none;
  }

  .other-posts-container h2 {
    margin-top: 0.5rem;
  }

  blockquote {
    margin: 0.5rem 0 0.5rem 0;
  }
}
